%div.col-md-5
  %h3= t('.division', type: division.category)
  %table.table
    %thead
      %tr
        %th= t('.team_name')
    %tbody
      - division.teams.each do |team|
        %tr
          %td= team.name
